.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
    margin-top: 150px;
  }
  .isTask {
    margin-left: 30px !important;
  }
  .list-group-item {
    justify-content: space-around;
  }